{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block page_title %}{{ name }}{% endblock %}

{% block page_description %}{{ name }} , {{ voivodeship }}{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-4">
          <img src="../img/{{ image }}" alt="Photo of {{name}}" class="img-fluid mb-4">
      </div>
      <div class="col-sm-8">
          <h1>{{ name }}</h1>
          <p>Population of {{ population }}.</p>
          <p>Voivodeship: {{ voivodeship }}</p>
      </div>
    </div>
  </article>
{% endblock %}
