{% extends '_templates/base.njk' %}

{% block page_title %}ICJ Final Project 2024{% endblock %}

{% block page_description %}Cities in Poland I've Visited{% endblock %}

{% block content %}
<div class="container">
  <h1> ICJ Final Project 2024</h1>
  <p>Witam. Welcome. This is my fall 2024 final project for my Intro to Coding for Journalists class with Professor Linwood at the University of Texas at Austin. For my website, I will be sharing which cities I've visited in Poland. Enjoy.</p>
  <h2>Cities in Poland I've Visited</h2>
  <p>This loops through data that came from my Google Sheets file.</p>
  <div class="row">
    {% for city in cities.cities %}
      <div class="col-sm-4">
        <img src="img/{{ city.slug }}.jpg" alt="" class="img-fluid">
        <h3><a href="cities/{{ city.slug }}.html">{{ city.name }}</a></h3>
      </div>
    {% endfor %}
  </div>
  <br>
  <h3> Questions? </h3>
    <p>Shoot me an email at <a href="mailto:susanagarcia@utexas.edu">susanagarcia@utexas.edu.</a></p>
</div>
{% endblock %}